<ion-view view-title="Register">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="userData.first">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model="userData.last">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="userData.email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password" ng-model="userData.password">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password" ng-model="userData.password_confirm">
      </label>
      <button class="button button-block button-positive" ng-click="createUser()">
        Register
      </button>
    </div>

  </ion-content>
</ion-view>

