<ion-view view-title="Login">
  <ion-content>
    <div ng-repeat="user in users">
      <label>
        {{ user.first }} {{user.last}}
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>
      <button class="button button-block button-positive">
        Submit
      </button>
    </div>
  </ion-content>
</ion-view>
