<ion-view view-title="Login">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="$parent.loginData.email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password" ng-model="$parent.loginData.password">
      </label>
      <button class="button button-block button-positive" ng-click="loginUser()">
        Submit
      </button>
    </div>
  </ion-content>
</ion-view>
